body {
  overflow-x: hidden;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

p {
  line-height: 1.75
}

a {
  color: #333
}

a:hover {
  color: red
}

.text-primary {
  color: red!important
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

section {
  padding: 100px 0
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.btn {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px
}

.btn-primary {
  background-color: red;
  border-color: red
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: red!important;
  border-color: red!important;
  color: #fff
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(254, 209, 55, .5)!important
}

::-moz-selection {
  background: red;
  text-shadow: none
}

::selection {
  background: red;
  text-shadow: none
}

img::selection {
  background: 0 0
}

img::-moz-selection {
  background: 0 0
}

body {
  -webkit-tap-highlight-color: red
}

#mainNav {
  background-color: #212529
}

.team-member img {
  margin-bottom: 10px;
  border-radius: 50px;
}

.media a {
  text-decoration: none;
}

.media hr{
	border-top: 1px solid #cacaca;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: red;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-brand {
  color: red;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, cursive
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #fec503
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: .75em 0;
  letter-spacing: 1px;
  color: #fff;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: red
}

@media (min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .3s, padding-bottom .3s;
    -moz-transition: padding-top .3s, padding-bottom .3s;
    transition: padding-top .3s, padding-bottom .3s;
    border: none;
    background-color: transparent
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em!important
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0
  }
}

header.masthead {
  text-align: center;
  color: #fff;
  /* background-image: url(../img/Logo_Black.svg); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 50%;
}

header.masthead .intro-text {
  padding-top: 180px;
  padding-bottom: 100px
}

header.masthead .logo {
  padding-bottom: 100px
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

@media (min-width:768px) {
  header.masthead .intro-text {
    padding-top: 340px;
    padding-bottom: 330px
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef
}

.timeline>li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px
}

.timeline>li:after,
.timeline>li:before {
  display: table;
  content: ' '
}

.timeline>li:after {
  clear: both
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0
}

.timeline>li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: #fff;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-image: url('../img/blog/update.jpg');
}

.timeline>li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0
}

.timeline>li:last-child {
  margin-bottom: 0
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit
}

.timeline .timeline-heading h4.subheading {
  text-transform: none
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0
}

.timelinenumber {
  z-index: 999;
  font-size: 12px;
  color: #ffffff;
  width: 40%;
  font-weight: 600;
  position: relative;
  top: 4px;
  display: inline-block;
}

@media (min-width:768px) {
  .timeline:before {
    left: 50%
  }
  .timeline>li {
    min-height: 100px;
    margin-bottom: 100px
  }
  .timeline>li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px
  }
  .timeline>li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px
  }
  .timeline>li:nth-of-type(odd)>.timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right
  }
  .timeline>li:nth-of-type(even)>.timeline-panel {
    float: right;
    width: 41%;
    padding: 0 30px 20px 20px;
    text-align: left
  }
  .timelinenumber {
    z-index: 999;
    font-size: 18px;
    color: #ffffff;
    width: 40%;
    font-weight: 600;
    position: relative;
    top: 2px;
    display: inline-block;
  }
}

@media (min-width:992px) {
  .timeline>li {
    min-height: 150px
  }
  .timeline>li .timeline-panel {
    padding: 0 20px 20px
  }
  .timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px
  }
  .timeline>li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 20px 20px
  }
  .timelinenumber {
    z-index: 999;
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    top: 40%;
    display: inline-block;
    text-shadow: 3px 4px 5px #000000;
    width: 100%;
    background: #0000007d;
    border-radius: 20px;
  }
}

.timeline>li>.timeline-panel {
  padding: 0 20px 0 100px;
  text-align: left
}

@media (min-width:1200px) {
  .timeline>li {
    min-height: 170px
  }
  /* .timeline>li .timeline-panel { */
  /* padding: 0 20px 20px 100px */
  /* } */
  .timeline>li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px
  }
  .timeline>li .timeline-image h4 {
    margin-top: 40px
  }
  .timeline>li:nth-of-type(odd)>.timeline-panel {
    padding: 20px 20px 20px 20px;
    float: left;
    text-align: right
  }
  .timeline>li:nth-of-type(even)>.timeline-panel {
    padding: 20px 20px 20px 20px;
    float: right;
    text-align: left;
  }
  .timelinenumber {
    z-index: 999;
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    position: relative;
    top: 40%;
    display: inline-block;
    text-shadow: 3px 4px 5px #000000;
    width: 100%;
    background: #0000007d;
    border-radius: 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none
}

.team-member p {
  margin-top: 0
}

section#contact {
  background-color: #212529;
  background-image: url(../img/map-image.png);
  background-repeat: no-repeat;
  background-position: center
}

section#contact .section-heading {
  color: #fff
}

footer {
  padding: 25px 0;
  text-align: center
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif
}

ul.social-buttons {
  margin-bottom: 0
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  color: #fff;
  border-radius: 100%;
  outline: 0;
  background-color: #212529
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
  background-color: red
}

#faq .faq-header {
  background: #ff1c1b;
  color: white;
  border-bottom: solid 1px #fff;
  transition: background 0.3s ease;
}

#faq .faq-header a {
  color: #fff;
  padding: 10px;
  display: block;
}

img {
  max-width: 100%
}

.github-star {
  padding-right: 80px;
  margin-top: 15px;
  opacity: 0.9;
}

.github-star:hover {
  opacity: 1;
}

.bg-dark{
  background:#212121;
}

.media-container{
text-align: center;
display: grid;
border-radius: 10px;
padding-top: 20px;
}

.small-container{
  text-align: center;
  border-radius: 10px;
  }
  
  .bounty-container{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
    }

.bg-dark.transparent{
  background: linear-gradient(45deg,#2e3033 25%,transparent 0,transparent 75%,#2e3033 0,#2e3033),linear-gradient(45deg,#2e3033 25%,transparent 0,transparent 75%,#2e3033 0,#2e3033);
  background-size: 20px 20px;
  background-position: 0 0,30px 30px;
}

.bg-light.transparent{
  background: linear-gradient(45deg,#f6f6f6 25%,transparent 0,transparent 75%,#f6f6f6 0,#f6f6f6),linear-gradient(45deg,#f6f6f6 25%,transparent 0,transparent 75%,#f6f6f6 0,#f6f6f6);
  background-position: 0 0,30px 30px;
  background-size: 20px 20px;
}

.color-container{
  text-align: center;
  display: grid;
  border-radius: 5px;
  padding:15px;
  }

.red{
  background: #ff0000;
  color:white;
}

.white{
  background:#ffffff;
  color:black;
}

.almostblack{
  background:#212121;
  color:white;
}

.almostwhite{
  background:#fafafa;
  color:black;
}

.widget-channel{
  visibility:collapse;
}

.img-bounty{
  max-width: 64px;
}

li{
  margin-left: 20px;
}

.bug-bounty
{
  height: 64px;
}